<div>
  <ngx-datatable class="material" [rows]="rows" [footerHeight]="50" [rowHeight]="'auto'" [headerHeight]="35" [columnMode]="'force'">
    <ngx-datatable-column name="Name" prop="name">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf="editIndex != row.$$index">{{value}}</span>
        <div *ngIf="editIndex == row.$$index">
          <md-input-container floatPlaceholder="never">
            <input mdInput autofocus placeholder="Name" [(ngModel)]="editEmployee.name">
          </md-input-container>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Gender" prop="gender">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf="editIndex != row.$$index">{{value}}</span>
        <div *ngIf="editIndex == row.$$index">
          <md-select placeholder="Gender" floatPlaceholder="never" [(ngModel)]="editEmployee.gender">
            <md-option *ngFor="let gender of genders" [value]="gender">
              {{gender}}
            </md-option>
          </md-select>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Company" prop="company">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf="editIndex != row.$$index">{{value}}</span>
        <div *ngIf="editIndex == row.$$index">
          <md-select placeholder="Company" floatPlaceholder="never" [(ngModel)]="editEmployee.company">
            <md-option *ngFor="let company of companies" [value]="company">
              {{company}}
            </md-option>
          </md-select>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Age" prop="age">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf="editIndex != row.$$index">{{value}}</span>
        <div *ngIf="editIndex == row.$$index">
          <md-input-container floatPlaceholder="never">
            <input mdInput autofocus placeholder="Name" [(ngModel)]="editEmployee.age">
          </md-input-container>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Date" prop="date">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf="editIndex != row.$$index">{{value}}</span>
        <div *ngIf="editIndex == row.$$index">
          <md-input-container>
            <input mdInput [mdDatepicker]="picker" placeholder="Date">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker #picker></md-datepicker>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name=" " prop="id">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <div *ngIf="editIndex == null" style="float: right; height: 36px;">
          <button md-button (click)="edit(row, row.$$index)" title="Edit" style="position: relative; top: 50%; transform: translateY(-50%);">
            Edit
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
